# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Machine Learning
*.pkl
*.joblib

# Datasets
dataset.csv
clean_dataset.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db